
    body {
      font-family: sans-serif;
      text-align: center;
    }
    input[type=number] {
      width: 100px;
      margin: 10px;
    }
    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border-radius: 5px;
    }
  